* {
  box-sizing: border-box;
}

body,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #092B40;
  color: #FFF;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

.container {
  /*border: 2px solid #fff;*/
  margin: 0 auto;
  max-width: 75%;
  padding-top: 20%;
  padding-top: 38vh;
  text-align: center;
}

#random-article {
  color: #FFF;
  font-size: 1.2rem;
  text-decoration: none;
}

#search-icon {
  cursor: pointer;
  top: 15px;
  position: relative;
}

#search-input {
  background: #092B40;
  border: 3px solid #D96F32;
  border-radius: 20px;
  display: none;
  color: #FFF;
  margin: 1.1rem 0 1.5rem 0;
  padding: 0.7rem 0;
  padding-left: 1.1rem;               /* Move cursor to the left */
  outline: none;                      /* outline-color outline-style outline-width */
  width: 15rem;
}

.containe > p {
  font-size: 1.2rem;
}
